<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ассортимент</title>
        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" href="static/products.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js" integrity="sha512-0qU9M9jfqPw6FKkPafM3gy2CBAvUWnYVOfNPDYKVuRTel1PrciTj+a9P3loJB+j0QmN2Y0JYQmkBBS8W+mbezg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        
        <center>
            <h1>Наш ассортимент</h1>
            <div id="buttons-app">
                <nav-buttons></nav-buttons>
            </div>
            <div class="container" id="products">
                <product
                    v-for="product in products"
                    v-bind:name="product.name"
                    v-bind:description="product.description"
                    v-bind:type="product.type"
                    v-bind:price="product.price"
                ></product>
            </div>
        </center>

        <script src="static/products.js"></script>
        <script src="static/buttons.js"></script>
    </body>
</html>